.animate-img {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: 0 -50%;
    animation-name: scrollLeft;
    animation-duration: 3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollLeft {
    to{
        left: -112px;
    }
}