@import url('https://fonts.cdnfonts.com/css/chillax');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.gradient-text {
  background-image: linear-gradient(90deg, #FF3BFF, #ECBFBF, #5C24FF, #D94FD5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background-image: linear-gradient(90deg, #FF3BFF, #ECBFBF, #5C24FF, #D94FD5);
}


